* {box-sizing: border-box;}

.img-magnifier-container {
  position:relative;
}

.img-magnifier-glass {
  position: absolute;
  border: 3px solid #000;
  border-radius: 50%;
  cursor: none;
  /*Set the size of the magnifier glass:*/

}

.img-magnifier-glass-jx {
  position: absolute;
  /* border: 3px solid #000; */
  border-radius: 50%;
  cursor: none;
  /*Set the size of the magnifier glass:*/

}

.img-magnifier-glass-sx {
  position: absolute;
  /* border: 3px solid #000; */
  border-radius: 50%;
  cursor: none;
  /*Set the size of the magnifier glass:*/

}

.pd{
  padding-top: 2%;
}

.pd2{
  padding-top: 7%;
}